<!DOCTYPE html>
<html>
    <head>
    	<title>YelpCamp - DEV NOTES</title>
    </head>
    <body>
        <div style="font-family: monospace">
          <h1>YelpCamp Developer Notes</h1>
          <a href="/" style="padding: 5px; text-align: center; text-decoration: none; background-color: lightgray;">Go Back to APP</a><br/><br/>
          <a title="GO TO UDEMY COURSE" href="https://www.udemy.com/the-web-developer-bootcamp/"><img src="/images/UC-F70O2GLI.jpg" style="height: 400px;"></a>
          <div style="padding: 5px 5px 5px 30px; width: 500px; background-color: lightblue; font-family: calibri;">
          <h4>DEVELOPER INFO</h4>
            Jonathan Cheng<br/>
            <em>jcheng.deveng@gmail.com</em><br/>
            Github: <a href="https://github.com/jchengdev/">jchengdev</a><br/>
            Linkedin: <a href="https://www.linkedin.com/in/jonathan-cheng-12616a15/">https://www.linkedin.com/in/jonathan-cheng-12616a15/</a>
          </div>
          <h4>Acquired knowledges:</h4>
          <ul>
            <li><strong>HTML</strong>: BOM (byte-order mark for UTF-8), structure (lists, tables, forms...)</li>
            <li><strong>CSS</strong>: selectors (id, class, element), box model (margins, paddings, size, borders), fonts (text-transform, Googlefonts), backgroundImage, imported styling (e.g. &lt;hr>), background-slider</li>
            <li><strong>Bootstrap</strong>: containers, jumbotron, forms, collapsing navbars, grid system</li>
            <li><strong>Semantic UI</strong>: navbar, items</li>
            <li><strong>Javascript</strong>: basics (primitives, variables, arrays, objects, operators, control flow), functions (callback, prototype), DOM Manipulation (query, event callback), advanced topics (call, apply, bind/bind-partially-applied, new, OOP, constructors, prototype chain, prototype methods, closures)</li>
            <li><strong>jQuery</strong>: syntax, common functions, events</li>
            <li><strong>JS libs</strong>: Paper.js, Howler.js, modernizr.js</li>
            <li><strong>Cloud9</strong> platform</li>
            <li><strong>Linux</strong>: basic commands (ls, mkdir, cp, cd, touch, rm)</li>
            <li><strong>NodeJS</strong>: npm (cat-me, knock-knock-joke, faker, body-parser, request, mongoose, method-override, express-sanitizer, connect-flash), commands (init, install@latest, --save, --force, outdated), package.json (meta-data)</li>
            <li><strong>Express</strong>: routes (get, post, delete... methods), configurations (use, set, listen), response methods (send, render), EJS (embedded JS)</li>
            <li><strong>API integration</strong>: GMaps (static maps)</li>
            <li><strong>MongoDB</strong>: data structure (arrays, embedding, linking, polymorphism, document variation, query versions), mongoose API (Model and Schema)</li>
            <li><strong>REST</strong> pattern, middlewares and directory organization (using "require")</li>
            <li><strong>Authentication</strong>: npm packages (passport, passport-local, passport-local-mongoose)</li>
            <li><strong>Git/Github</strong>: basic commands (init, add, commit, log), revert</li>
            <li><strong>Deploy</strong>: Heroku+mLab; environment variables</li>
            <li><strong>Troubleshoot</strong>: eval(require("locus"))</li>
          </ul>
          <h4>Tools:</h4>
          <ul>
            <li><strong>Edit</strong>: SublimeText3</li>
            <li><strong>Check</strong>: Chrome Console, JSFiddle, Postman, JSONView</li>
          </ul>
        </div>
    </body>
</html>
